* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 80vh;
    background: url(../images/Cookies.jpg) no-repeat center center/cover;
    position: relative;
}

.navbar-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px;
    width: 90%;
    padding: 20px;
    color: white;
    flex-direction: row;
}

.navbar-recipe ul {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-recipe img {
    position: static;
    display: block;
    height: 60px;
    max-width: 100%;
}

.navbar-recipe li {
    position: relative;
    margin: 0 10px;
}

.navbar-recipe a {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar-recipe a:hover {
    transform: scale(1.05);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, 0.3);
}

.navbar-recipe .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #143e6d;
    min-width: 150px;
    z-index: 1;
}

.navbar-recipe .dropdown:hover .dropdown-menu {
    display: block;
    animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.top-desc {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

.top-desc h1 {
    font-size: 2.75rem;
    margin-bottom: 10px;
    text-align: center;
    color: transparent;
    background: url(../images/Cookies.jpg) no-repeat center center/cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.top-desc p {
    font-size: 1.2rem;
    text-align: center;
    color: black;
}

@media (max-width: 880px) {
    .navbar-recipe {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .navbar-recipe img {
        margin-bottom: 5px;
        height: 50px;
    }
    .navbar-recipe ul {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}